@import "partials/variables";
@import "partials/core";
@import "partials/form";
@import "partials/components/export";
@import "partials/views/export";

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;

  app-welcome,
  app-new-project,
  app-project-edit {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  app-new-project,
  app-project-list {
    width: calc(100% - #{map-get($map: $padding, $key: normal)} * 2);
    height: calc(100% - #{map-get($map: $padding, $key: normal)} * 2);

    padding: map-get($map: $padding, $key: normal);

    display: flex;
    place-content: flex-start;
    place-items: flex-start;

    overflow: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
  }

  app-custom-element {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;

    [grid] {
      height: 100%;
    }

    #customElementWrapper,
    #customElementCode {
      width: 100%;
      height: 100%;

      ngx-monaco-editor {
        width: 100%;
        height: 100%;
        .editor-container {
          height: 100%;
        }
      }
    }
  }
}
