@import 'partials/variables';
@import 'partials/core';
@import 'partials/form';
@import 'partials/components/export';
@import 'partials/views/export';

html, body {
    margin: 0;
    padding: 0;

    height: 100%;

    app-welcome {
        width: 100%;
        height: 100%;
    }

}
