app-sidebar {
    width: calc(100% - #{map-get($map: $padding, $key: normal)}*2);
    height: calc(100% - #{map-get($map: $padding, $key: normal)}*2);
    
    background-color: map-get($map: $colors, $key: surface);
    color: map-get($map: $colors, $key: on-surface);

    padding: map-get($map: $padding, $key: normal);
}