/**
Put here global variables
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap");

$mainFont: "Roboto Mono", monospace;

$colors: (
  "background": #071e3d,
  "surface": #000,
  "error": #ff536f,
  "primary": #21e6c1,
  "primary-variant": #278ea5,
  "secondary": #1f4287,
  "on-primary": #000,
  "on-secondary": #ffffff,
  "on-background": #ffffff,
  "on-surface": #ffffff,
  "on-error": #fff
);

$fontSizes: (
  "small": 0.75rem,
  "normal": 1rem
);

$padding: (
  "small": 0.25rem,
  "normal": 1rem
);
