/**
Put here global variables
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap");

$mainFont: "Roboto Mono", monospace;

$colors: (
  "background": #25335c,
  "surface": #17151a,
  "error": #f24a47,
  "success": #21e6c1,
  "primary": #9bcfff,
  "primary-variant": #016af3,
  "secondary": #242424,
  "on-primary": #000,
  "on-secondary": #ffffff,
  "on-background": #ffffff,
  "on-surface": #ffffff,
  "on-error": #fff,
  "on-success": #000
);

$fontSizes: (
  "small": 0.75rem,
  "normal": 1rem
);

$padding: (
  "small": 0.25rem,
  "normal": 1rem
);
