<div grid
  [templateRows]="'50px 1fr'"
  [class]="'BrowserFrame'"
>
  <div class="Top">
    <div grid [templateColumns]="'1fr auto'">
      <app-input 
        [class]="'BrowserUrl'"
        [label]="'Url'"
        [inputValue]="'http://localhost:4200/example-url/with-params'"
        [icon]="['fas','broadcast-tower']"
      ></app-input>
      <fa-icon flex [icon]="['fas', 'redo']"></fa-icon>
    </div>
  </div>
  <div class="Medium">
    <div flex class="AddNewPlaceholder">
      <fa-icon flex [icon]="['fas', 'plus']"></fa-icon>
    </div>
  </div>
</div>
